.apresentacao {
  text-align: center;
  padding-top: 10.12rem;
  background-color: var(--blue);
  color: var(--text-color);
  min-height: 90vh;
}

.svg-bg {
  opacity: 0.3;
  top: 0;
  width: 100%;
  z-index: 1;
}

.apresentacao h1 {
  font-size: 2.5rem;
}

.apresentacao p {
  display: inline-block;
  max-width: 31.25rem;
  text-align: center;
  margin: 1.87rem;
  font-size: 1.12rem;
  font-weight: lighter;
  letter-spacing: 1px;
}

.btn {
  display: inline-block;
  background-color: var(--orange);
  border: none;
  border-radius: 20px;
  padding: 12px;
  color: white;
  font-size: 18px;
}
