.apresentacao {
  text-align: center;
  padding-top: 8rem;
  background-color: var(--blue);
  color: var(--text-color);
  min-height: 90vh;
}

.apresentacao h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 3rem;
}

.ponto {
  color: var(--orange);
}

.apresentacao p {
  display: inline-block;
  max-width: 31.25rem;
  text-align: center;
  margin: 1.87rem;
  font-size: 1.12rem;
  font-weight: lighter;
  letter-spacing: 1px;
}

.apresentacao .btn {
  margin-top: 45px;
}

.btn {
  display: inline-block;
  background-color: var(--orange);
  border: none;
  color: var(--background);
  width: 150px;
  padding: 12px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (max-width: 800px) {
  .apresentacao h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
  }
}
