.container-carousel {
  min-height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-carousel {
  position: relative;
  top: 80px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.slide-container {
  width: 62.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slide-container .card {
  position: relative;
}

.slide-container .card .face {
  width: 18.75rem;
  height: 12.5rem;
  transition: 0.5s;
}
.slide-container .card .face.face-1 {
  position: relative;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(6.25rem);
}

.slide-container .card:hover .face.face-1 {
  background-color: var(--blue);
  transform: translateY(0);
}

.content img {
  width: 100px;
}

.slide-container .card .face.face-1 .content img {
  max-width: 3.25rem;
  color: white;
  margin: 30px;
}

.slide-container .card .face.face-1 .content h2 {
  margin: 10px 0 0;
  padding: 0;
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
}
.slide-container .card .face.face-2 {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  transform: translateY(-6.25rem);
}

.slide-container .card:hover .face.face-2 {
  transform: translateY(0);
}

.slide-container .card .face.face-2 .content p {
  margin: 0;
  padding: 0;
}

.slide-container .card .face.face-2 .content a {
  margin: 1rem 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: var(--blue);
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: var(--orange);
}

.slide-container .card .face.face-2 .content a:hover {
  background-color: var(--blue);
  color: white;
}

@media only screen and (max-width: 900px) {
  .slide-container {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    margin: auto;
    padding-top: 5px;
    max-width: 100%;
  }
}
