.container-carousel {
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container {
  width: 62.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slide-container .card {
  position: relative;
}

.slide-container .card .face {
  width: 18.75rem;
  height: 12.5rem;
  transition: 0.5s;
}
.slide-container .card .face.face-1 {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(6.25rem);
}

.slide-container .card:hover .face.face-1 {
  background-color: #ff0057;
  transform: translateY(0);
}

.slide-container .card .face.face-1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.slide-container .card:hover .face.face-1 {
  opacity: 1;
}
.slide-container .card .face.face-1 .content img {
  max-width: 3.25rem;
}
.slide-container .card .face.face-1 .content h2 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}
.slide-container .card .face.face-2 {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-6.25rem);
}

.slide-container .card:hover .face.face-2 {
  transform: translateY(0);
}

.slide-container .card .face.face-2 .content p {
  margin: 0;
  padding: 0;
}

.slide-container .card .face.face-2 .content a {
  margin: 1rem 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 20px;
}

.slide-container .card .face.face-2 .content a:hover {
  background-color: #333;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .slide-container {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    margin: auto;
    padding-top: 10px;
    max-width: 100%;
  }
}
