/* MENU */

.menu > a {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu > a::before {
  display: inline-block;
  position: relative;
  content: "";
  background: url(../img/github-icon.svg) no-repeat;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  top: 0;
  left: 0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  position: static;
  padding: 15px 50px;
  background-color: var(--blue);

}

.logo{
  width: 200px;
}

header li span{
  background-color: var(--orange);
  padding: 10px;
  border-radius: 5px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  margin-left: 1.25rem;
  position: relative;
}

.menu a {
  color: var(--background);
}

.menu li a::after {
  content: " ";
  width: 0%;
  height: 3px;
  background-color: var(--orange);
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.menu a:hover::after {
  width: 100%;
}

@media only screen and (max-width: 300px) {
  .menu ul {
    flex-direction: column;
  }
}
