.title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container-section {
  display: flex;
  border-bottom: 1px solid var(--blue);
  max-width: 1200px;
  margin: 100px auto 0;
}

.section-display {
  display: flex;
}

.img-section {
  margin: 40px;
  width: 500px;
}

.content-section {
  max-width: 50%;
  margin: 21px;
}

.content-section p {
  font-size: 18px;
  margin: 30px 0 30px;
}

.content-section h2 {
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  border-bottom: 1px solid var(--orange);
  color: var(--blue);
}

.btn-section {
  background-color: var(--orange);
  border: none;
  color: var(--blue);
  width: 150px;
  padding: 12px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 20px;
}

@media only screen and (max-width: 800px) {
  .section-display {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    max-width: 100%;
  }

  .img-section {
    padding-top: 10px;
    margin: auto;
    width: 400px;
  }

  .content-section {
    padding: 10px;
    margin: auto;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
  }
  .content-section h2 {
    margin-top: 5px;
    border: none;
    text-align: center;
  }
  .content-section p {
    border: 1px solid black;
    text-align: left;
  }
  .btn-section {
    text-align: center;
    margin-top: 20px;
  }
}

/* @media only screen and (max-width: 800px) {
  .content-section {
    border: none;
  }
} */
