.container-sobre {
  background-color: var(--background);
  margin: 40px;
  text-align: center;
}

.sobre {
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
  gap: 40px;
}

.sobre p {
  max-width: 400px;
  margin-top: 20px;
  text-align: left;
}

.img-sobre  {
  
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}
